@tailwind base;
@tailwind components;
@tailwind utilities;

.bank {
  font-family: "Libre Baskerville", serif;
  font-family: "Source Sans Pro", sans-serif;
  color: #66101f;
  color: #855a5c;
  color: #8a8e91;
  color: #b8d4e3;
  color: #eeffdb;
}
